<!DOCTYPE html>
<html>

    <!-- START HEAD -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <!-- Bulma Version 0.9.4-->
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css" />
    </head>
    <!-- END HEAD -->

    <body>
       <div class="container is-max-desktop px-4 mt-5 mb-5">
           <div class="content has-text-justified">

               <h1 class="title is-size-2">Politica Cookie</h1>
               <p>Questa pagina fornisce una serie di informazioni sulle tecnologie usate da <a href="{{ website_link }}" target="_blank">{{ website_link }}</a>.</p>

               <h2 class="title">1. Come usiamo i cookie</h2>
               <p>Il nostro Sito usa i cookie per distinguere un utente da un altro utente del Sito. Questo consente di fornire ad un utente un corretto utilizzo del Sito migliorando al tempo stesso il Sito e l'esperienza fornita ad un utente.</p>
               <p>Cliccando il bottone <strong>Accetta</strong>, presente all'interno del popup contenente il collegamento che porta a questa pagina, vengono automaticamente accettate le condizioni sui cookie descritte successivamente in questa pagina.</p>
               <p>
                  Cliccando il bottone <strong>Declina</strong>, non viene consentito l'uso dei cookie.
                  I cookie possono essere disabilitati o bloccati tramite browser come spiegato successivamente in questa pagina.
                  Tuttavia, bloccare o disabilitare i cookie comporta ad un impatto negativo sull'utilizzo del Sito.
               </p>

               <h2 class="title">2. Cos'è un cookie</h2>
               <p>Un cookie è un piccolo file composto da lettere e numeri che viene salvato nel browser o su un dispositivo di memoria fisica di un computer per verificare se un utente ha precedentemente visitato un sito oppure per salvare localmente una piccola quantità di informazioni.</p>

               <p>Esistono due tipi di cookie: persistenti e di sessione. I cookie di sessione espirano al termine di una sessione del browser, cioè non appena si esce dal browser, mentre i cookie persistenti rimangono invece salvati sul computer durante le varie sessioni del browser fino a quando non espirano o vengono cancellati manualmente da un utente.</p>

               <h2 class="title">3. Cookie in uso</h2>
               <p>Usiamo i seguenti tipi di cookie:</p>

               <table class="table is-bordered is-narrow">
                   <tr>
                       <td class="is-vcentered"><strong>Cookie<br>strettamente necessari</strong></td>
                       <td class="is-vcentered">Questi cookie sono necessari per le varie funzionalità del Sito. Questi cookie sono essenziali agli utenti per navigare correttamente all'interno del Sito ed usare le sue funzionalità, inclusa l'autenticazione ai nostri servizi.</td>
                   </tr>
                   <tr>
                       <td class="is-vcentered"><strong>Cookie tecnici</strong></td>
                       <td class="is-vencetered">Questi cookie sono usati per mantenere la sessione di un utente quando si autentica</td>
                   </tr>
               </table>

               <h2 class="title">4. Come si possono gestire i cookie?</h2>
               <p>È possibile rifiutare automaticamente l'accetazione dei cookie o cancellare quelli già presenti attraverso le impostazioni del browser. Maggiori informazioni sulla gestione dei cookie in alcuni browser ai seguenti collegamenti:

               <ol>
                 <li><a href="https://support.apple.com/it-it/HT201265" target="_blank">Safari</a></li>
                 <li><a href="https://support.mozilla.org/it/kb/Gestione%20dei%20cookie" target="_blank">Firefox</a></li>
                 <li><a href="https://support.microsoft.com/it-it/windows/eliminare-e-gestire-i-cookie-168dab11-0753-043d-7c16-ede5947fc64d#ie=ie-11" target="_blank">Internet Explorer</a></li>
                 <li><a href="https://support.google.com/chrome/answer/95647?hl=it" target="_blank">Chrome</a></li>
                 <li><a href="https://support.microsoft.com/it-it/windows/microsoft-edge-dati-delle-esplorazioni-e-privacy-bb8174ba-9d73-dcf2-9b4a-c582b4e640dd" target="_blank">Microsoft Edge</a></li>
               </ol>

               <p>Per informazioni relative ai broswer non presenti nella lista soprastante, visitare i siti dei browser ricercati.</p>

               <p>Tuttavia, se si imposta un broswer in modo tale da bloccare tutti i cookie, alcune parti del Sito potrebbero non funzionare correttamente.</p>

               <h2 class="title">5. Contatti</h2>
               <p>Ci puoi contattare a questa email: <a href="mailto:{{ email }}" target="_blank">{{ email }}</a></p>

           </div>
       </div>

    </body>
</html>
